.profile {
  width: 6.5rem;
  height: 6.5rem;

  border-radius: 100rem;

  background-image: url("/picture.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
