.searchContainer {
  display: flex;

  align-items: center;

  padding: 1rem;

  width: 35rem;
  height: 6.5rem;

  border-radius: 1.5rem;

  background-color: #efedff;
}
.searchIcon {
  margin-right: 1rem;

  color: #1e1e1e;

  font-size: 3rem;
}
.searchInput {
  color: #1e1e1e;

  font-size: 2rem;

  background-color: transparent;
}
