/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-family: sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 62.5%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  border: none;
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

.body {
  display: flex;
  justify-content: center;
  padding: 4rem;
  align-items: center;
  font-size: 1.6rem;
  height: 100vh;
  background-color: #f1e9f5;
}

.main-container {
  width: 100%;
  height: 100%;
  border-radius: 3.5rem;

  background-color: #fff;
  overflow-x: hidden;
}
